<h1><center>Pandas</center></h1>

###  Questions

<img src="./images/day18_1.png"></img>

In [3]:
#1
import pandas as pd
pd.__version__

'0.20.3'

In [4]:
#2
import numpy as np
mylist=list('abcdefghijklmnopqrstuvwxyz')
myarr=np.arange(26)
mydict=dict(zip(mylist,myarr))

In [5]:
pd.Series(mylist)

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [6]:
pd.Series(myarr)

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64

In [11]:
pd.Series(mydict)

a     0
b     1
c     2
d     3
e     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [15]:
#3
ser=pd.Series(mydict)
df=ser.to_frame().reset_index()

In [16]:
df.head()

  index  0
0     a  0
1     b  1
2     c  2
3     d  3
4     e  4

<img src="./images/day18_2.png"></img>

In [18]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [20]:
#4
df2 = pd.concat([ser1, ser2], axis=1)

In [21]:
df2

    0   1
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13
14  o  14
15  p  15
16  q  16
17  r  17
18  s  18
19  t  19
20  u  20
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25

In [22]:
#5
ser.name="alphabets"

In [23]:
ser

a     0
b     1
c     2
d     3
e     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
Name: alphabets, dtype: int64

In [24]:
#6
ser1=pd.Series([1,2,3,4,5])
ser2=pd.Series([4,5,6,7,8])
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

<img src="./images/day18_3.png"></img>

In [26]:
#7
ser1[ser1.isin(ser2)]

3    4
4    5
dtype: int64

In [27]:
#8
ser = pd.Series(np.random.normal(10, 5, 25))

In [28]:
ser

0     20.509802
1      1.087542
2     10.119817
3     13.415804
4      8.056831
5     10.706321
6     11.413880
7     15.510263
8     21.746496
9     13.745997
10    11.125891
11     1.756378
12    15.627986
13    11.535197
14    12.285964
15    10.890509
16     2.759056
17    13.496407
18    12.130962
19    14.687332
20     4.910141
21     4.944144
22    15.576421
23    10.970691
24     3.713602
dtype: float64

In [29]:
np.percentile(ser, q=[0, 25, 50, 75, 100])

array([ 1.08754205,  8.05683133, 11.41387988, 13.74599711, 21.74649593])

In [30]:
#9
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [31]:
ser.value_counts()

d    7
c    5
g    5
f    3
b    3
h    3
e    2
a    2
dtype: int64

<img src="./images/day18_4.png"></img>

In [32]:
#10
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
print("Top 2 Freq:", ser.value_counts())
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

Top 2 Freq: 4    5
2    4
1    2
3    1
dtype: int64

0     Other
1     Other
2         2
3         2
4     Other
5         4
6         4
7         2
8         2
9         4
10        4
11        4
dtype: object