<h1><center>NUMPY</center><h1>
## Questions 
31. How to find the percentile scores of a numpy array?
32. How to insert values at random positions in an array?
33. How to find the position of missing values in numpy array?
34. How to filter a numpy array based on two or more conditions?
35. How to drop rows that contain a missing value from a numpy array?
36. How to find the correlation between two columns of a numpy array?
37. How to find if a given array has any null values?
38. How to replace all missing values with 0 in a numpy array?
39. How to find the count of unique values in a numpy array?
40. How to convert a numeric to a categorical (text) array?
41. How to create a new column from existing columns of a numpy array?
42. How to do probabilistic sampling in numpy?
43. How to get the second largest value of an array when grouped by another array?
44. How to sort a 2D array by a column
45. How to find the most frequent value in a numpy array?
46. How to find the position of the first occurrence of a value greater than a given value?
47. How to replace all values greater than a given value to a given cutoff?
48. How to get the positions of top n values from a numpy array?
49. How to compute the row wise counts of all possible values in an array?
50. How to convert an array of arrays into a flat 1d array

In [32]:
#1 percentile score
import numpy as np
a=np.array([1,2,3,4,5,67,8])

In [33]:
a

array([ 1,  2,  3,  4,  5, 67,  8])

In [34]:
np.percentile(a,35)

3.0999999999999996

In [37]:
#2 insertion at values
a=np.insert(a,5,43)

In [43]:
a

array([ 1,  2, 43,  3,  4, 43,  5, 67,  8])

In [46]:
#3 position of missing values
idx=np.where(np.isnan(a))

In [47]:
idx

(array([], dtype=int64),)

In [48]:
#4 filtering a numpy array
a=a[(a>2) & (a<50)]

In [49]:
a

array([43,  3,  4, 43,  5,  8])

In [51]:
#5 drop rows
a[np.all(np.isfinite(a), axis=0)]

array([[43,  3,  4, 43,  5,  8]])

In [52]:
a

array([43,  3,  4, 43,  5,  8])

In [59]:
b=np.array([1,33,4,5,6,np.nan])

In [60]:
#6 correlation between two columns

In [62]:
#7 find if array has null values

np.isnan(b)

array([False, False, False, False, False,  True])

In [65]:
#8 replace null with 0
b[np.where(np.isnan(b))]=0

In [66]:
b

array([ 1., 33.,  4.,  5.,  6.,  0.])

In [79]:
#9 count unique values
len(np.unique(a))

5

In [81]:
#10 numerical to categorical array
np.array2string(a)

'[43  3  4 43  5  8]'

In [83]:
#11 create new columns from existing columns
np.append(a,np.zeros(1))

array([43.,  3.,  4., 43.,  5.,  8.,  0.])